# could be helpful
# http://git-scm.com/docs/gitignore

# there are so many files here that I don't want to keep, but gitignore does 
# not do regular expressions, so start off by telling it to ignore everything
#  Note: Due to the lack of regular expressions, it is easier to tell 
#  gitignore to not ignore a select few items than to tell it to ignore 
#  everything else.
#  This creates an issue with subfolders, because they cannot be un-ignored 
#  selectively with something like "!my_subfolder/**", as the documentation at
#  the provided link at the top of this file suggests when talking about the 
#  trailing "/**".  When everything is ignored, selective folder un-ignoring 
#  apparently not kosher, even with something like "!my_subfolder/*.cpp".
#  To get around this, I use working syntax to not ignore certain file types,
#  and then tell gitignore to not ignore any subfolders.
#  This effectively un-does everything that "*" does, except that it results 
#  in less typing for me.

# ignore everything
*

# don't ignore these code files
!*.cpp
!*.h
!*.txt
!*.glsl

!*.zip

# we want to keep these around
!.gitignore
!.gitattributes

# keep solution and  project files and filters so we can see how they change 
# through the project
!*.sln
!*.vcxproj
!*.vcxproj.filters

# now unignore all sub-folders
!**/
middleware/

